{% extends 'base.html' %}
{% block title %}
Questionnaire UQAM
{% endblock %}

{% block pageheader %}
<div class="position-relative overflow-hidden p-30 p-md-50 m-md-30 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Service d'aide en ligne pour étudiants internationaux
        </h1>
        <p class="lead font-weight-normal">Cliquez ci-dessous pour commencer</p>
        <a class="btn btn-outline-dark" href="{% url 'request_question'%}">Commencer le questionnaire</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% endblock %}

{% block content %}

{% endblock %}